<div id="<%= dom_id name_rating %>">
  <p>
    <strong>Baby name option:</strong>
    <%= name_rating.baby_name_option_id %>
  </p>

  <p>
    <strong>Factor:</strong>
    <%= name_rating.factor %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= name_rating.rating %>
  </p>

</div>
