<h1>Editing name rating</h1>

<%= render "form", name_rating: @name_rating %>

<br>

<div>
  <%= link_to "Show this name rating", @name_rating %> |
  <%= link_to "Back to name ratings", name_ratings_path %>
</div>
