<div id="<%= dom_id baby_name_option %>">
  <p>
    <strong>Name:</strong>
    <%= baby_name_option.name %>
  </p>

  <p>
    <strong>Baby profile:</strong>
    <%= baby_name_option.baby_profile_id %>
  </p>

</div>
