<h1>Editing baby profile</h1>

<%= render "form", baby_profile: @baby_profile %>

<br>

<div>
  <%= link_to "Show this baby profile", @baby_profile %> |
  <%= link_to "Back to baby profiles", baby_profiles_path %>
</div>
